body {
    font-family: "Orbitron", sans-serif;
    text-align: center;
    background: rgb(26, 26, 48);
    color: white;
    font-size: 17px;
}

.main_container {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
}

.main_screen {
    background: black;
    color: red;
    padding: 1px 1px;
    margin: 20px 1px;
    border-radius: 20px;

}

.container h1 {
    font-size: 50px;
}

.main_screen h2 {
    font-size: 70px;
}

.button_row {
    display: flex;
    gap: 13px;
    justify-content: center;
}

.button_row button{
    background: rgb(26, 26, 48);
    padding: 6px 8px;
    font-family: "Orbitron", sans-serif;
    font-size: 17px;
    color: rgb(195, 193, 193);
    cursor: pointer;
    border: 1px solid rgb(195, 193, 193);
    border-radius: 4px;
}